body{
    font-family: 'Noto Sans', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
p{
    color: gray;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.name-highlight{
    color:#fa128e;
}
.intro-half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 1%;
    height: 55%;
}
.bio-half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 1%;
    height: 55%;
}
.intro-single-div{
    margin-left: 115px;
    margin-top: 45px;
    padding: 0%;
}
.intro-half-width img{
    width: 100%;
    height: 175%;
    margin-top: 75px;
}
.bio-half-width img{
    width: 100%;
    height: 175%;
    margin-top: 75px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,#FF1493,#fa128e);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700px;
    box-shadow: 1px 1px 15px hotpink;
}
.intro-sec{
    background-image: url(header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px ;
    width: 100%;
    height: 600px;
    background-position: left;
}
.biography-sec{
    background-image: url(biography-bg.png);
    background-size: cover;
}
.biography-div{
    margin-top: 100px;

}
#latest-work{
    text-align: center;
    margin-top: 93px;
}
.latest-img{
     width: 80%;
     padding-left: 10%;
     padding-top: 7%;
}
.lw-img{
    width: 33%;
}
.lw-sec{
    background-image: url(latest-work-bg.png);
    background-size: cover;
}
.client-sec{
    text-align: center;
    background-image: url(footer-bg.png);
    background-size:cover;
    width: 100%;
}

#client-say{
    padding-top: 60px;
    font-size: 20px;
}
#client-name{
    margin-top: 70px;
    font-size: 30px;
}
#client-p{
    font-size: 17px;
}
.message{
    background-image: linear-gradient(45deg,#FF1493,#fa128e);
    color: white;
    padding: 40px 40px;
    margin: 70px 420px 0px 405px;
    border-radius: 5px;
   font-size: 20px;
    box-shadow: 3px 6px 25px hotpink;
}
a:visited{
    color: white;
}
a:hover{
    color:greenyellow;
}
#email{
    font-size: 30px;
}